@{
    Layout = "_Layout";
    ViewData["Title"] = "Cart";
}

@using app.Models
@model CartViewModel

@if(Model != null && Model.Products != null && Model.Products.Any()) {
<a class="border p-3 btn btn-primary w-100 h-100" id="checkout-button" asp-controller="Checkout" asp-action="Index">
    <h5 class="text-center">Checkout Now</h5>
    <h5 class="text-center">Subtotal: @String.Format("{0:C2}", Model.Subtotal)</h5>
</a>
<div class="container">

    @for(int i = 0; i < Model.Products.Count(); i++)
    {


    <div class="row p-1 @(@i % 2 == 0 ? "" : "bg-dark-subtle")">
	<div class="col-3 p-0 m-0">
	    @if(Model.Products[i].ImageNames.Any()) 
	    {
	    <img class="w-50" src="/Images/@Model.Products[i].ImageNames[0]" alt="@Model.Products[i].ProductName primary image">
	    } else 
	    {
	    <img class="w-50" src="/Images/placeholder.jpg" alt="placeholder image">
	    }
	</div>
	<div class="col-7">
	    <p class="">@Model.Products[i].ProductName</p>
	    <p class="">@String.Format("{0:C2}", Model.Products[i].Price)</p>
	</div>
	<img data-product-id="@Model.Products[i].ProductId" class="btn col-2 cart-delete" src="Images/delete.png" alt="delete button for @Model.Products[i].ProductName">
    </div>
    }
</div>
} else 
{
<div class="text-center m-5">
    <h1>Your cart is empty.</h1>
</div>
}

@section Scripts {
    <script src="~/js/cartIndex.js">
    
    </script>
}
