@{
    Layout = "_Layout";
}

@model app.Models.ProductViewModelWithImages

<h1>Name: @Model.InternalModel.ProductName</h1>
<h3>Category: @Model.InternalModel.CategoryName</h3>
<h3>Price: @Model.InternalModel.Price</h3>
<a onClick="addToCart(@Model.InternalModel.ProductId)" class="btn btn-primary">Add To Cart</a>
<p>@Model.InternalModel.Description</p>

@foreach(var imageName in @Model.ImageNames)
{
<img src="/images/@imageName" alt="">
}

<script>
    async function addToCart(productId) {
	var res = await fetch("/api/cart/" + productId, {
	    method: "POST"
	});

	if(res.status == 400) {
	    alert("Product already in cart.");
	    return;
	}

	if(res.status == 500) {
	    alert("Error adding product to cart.");
	}
	alert("Product added to cart.");
    }
</script>
