@{
    Layout = "_Layout";
    var categories = ViewData["Categories"];
    ViewData["Title"] = "Products";
}

@model IEnumerable<app.Models.ProductViewModelWithImages>

<div id="products-container" class="pt-4">
    @if(Model.Any()) 
	{
	<div class="container">
	    <div class="row">
	    @foreach(var product in Model) 
	    {
	    <div class="col-sm-12 col-xl-4">
		<a id="product-card" class="card background-4273c pb-0 link-underline link-underline-opacity-0" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
		    @if(product.ImageNames.Any()) {
    	    <div class="ratio ratio-4x3">
    		<img class="" src="/Images/@product.ImageNames.FirstOrDefault()" alt="Image for @product.ProductName">
    	    </div>
		    } else {
		    <img src="/Images/placeholder.jpg" alt="Image for @product.ProductName">
		    }
    	    <h5 class="p-1 border-top text-center">@product.ProductName - @String.Format("{0:C2}", product.Price)</h5>
		</a>
		
	    	<br />
	    </div>
	    }
	    </div>
	</div>
	} else {
	    <h5>No products found. Check back later!</h5>
	}
</div>

@section Scripts{
    <script src="~/js/productIndex.js"></script>
}
