@{

    Layout = "_Layout";
    var categories = ViewData["Categories"];
    var curProduct = (ProductViewModel)ViewData["CurrentProduct"];
}

@using app.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@model UpdateProductModel

<h1>Update @curProduct.ProductName</h1>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
	<label asp-for="Name" class="form-label"></label>
	<input asp-for="Name" class="form-control" value="@curProduct.ProductName"/>
	<span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="CategoryId" class="form-label"></label>
	<select asp-for="CategoryId" asp-items="(SelectList)categories" class="form-control">
	    <option value="">-- Select Category --</option> 
	</select>
	<span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="Price" class="form-label"></label>
	<input asp-for="Price" class="form-control" value="@curProduct.Price"/>
	<span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="Description" class="form-label"></label>
	<input asp-for="Description" class="form-control" value="@curProduct.Description"/>
	<span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
	<label asp-for="IsAvailable" class="form-label"></label>
	<input asp-for="IsAvailable" class="form-check-label"/>
	<span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

